﻿@model UnixHate.ViewModels.SiteUser_ViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: auto; margin-top: 2%">

    <div class="text-info">
        <h1>Register</h1>
    </div>

    <div class="alert-dismissable" style="margin-top: 1%">
        @Model.Message
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div style="width: 20%; margin-top: 1%">
            Username:
        </div>

        @Html.TextBoxFor(model => model.Customer.AccountName, new {@class = "form-control"})

        <div style="width: 20%; margin-top: 1%">
            Password:
        </div>

        @Html.PasswordFor(model => model.Customer.Password, new {@class = "form-control"})

        <div style="width: 60%; margin-top: 1%">
            Repeat password:
        </div>

        @Html.PasswordFor(model => model.Customer.RepeatedPassword, new {@class = "form-control"})

        <input class="btn" type="submit" value="Register" style="width: 10%; margin-top: 1%"/>
    }

</div>