﻿@{
    ViewBag.Title = "Universiteto labaratoriniai";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container">

    @using (Html.BeginForm("First", "Home", FormMethod.Post))
    {
        <input class="btn" type="submit" value="LD1_1 [Work in progress]" style="width: 20%; margin-top: 1%"/>
    }
    @using (Html.BeginForm("Second_1", "Home", FormMethod.Post))
    {
        <input class="btn" type="submit" value="LD2_1 [Done]" style="width: 20%; margin-top: 1%"/>
    }
    @using (Html.BeginForm("Second_24", "Home", FormMethod.Post))
    {
        <input class="btn" type="submit" value="LD2_24 [Dumped]" style="width: 20%; margin-top: 1%"/>
    }
    @using (Html.BeginForm("Third", "Home", FormMethod.Post))
    {
        <input class="btn" type="submit" value="LD3_1 [Done]" style="width: 20%; margin-top: 1%"/>
    }
    @using (Html.BeginForm("Fourth", "Home", FormMethod.Post))
    {
        <input class="btn" type="submit" value="LD4_1 & 5_1 [Done]" style="width: 20%; margin-top: 1%"/>
    }
</div>

