﻿@using UnixHate.Models
@model UnixHate.Models.Customer
@{
  ViewBag.Title = "Welcome";
}

<div class="container-fluid" style="width: auto; margin-top: 2%">
    <img style="width: 100%; margin-top: 2%" src="~/Content/Images/home-wallpaper.jpg"/>
</div>

