﻿@model UnixHate.ViewModels.University.LD1_1.LD1_1_ViewModel

@{
    ViewBag.Title = "LD2_1";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container">
   <div class="col-lg-8">
      <div class="row">
         <div class="col-lg-4">
            <div style="width: 100%">
               Data path:
            </div>
            @Html.TextBoxFor(x => x.filePath, new {@class = "form-control", style = "margin-top:2%"})
         </div>
         <div class="col-lg-4">
            <input class="btn" type="submit" value="Save" style="width: 100%; margin-top: 12%"/>
         </div>
      </div>
      <div class="row">
        @Html.TextAreaFor(x => x.textArea, new {@class = "form-control", style = "margin-top:2%"})
      </div>
   </div>
</div>
