﻿@model UnixHate.ViewModels.University.LD3_1.LD3_1_ViewModel

@{
    ViewBag.Title = "LD3_1";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container" style="margin-top: 2%; width:100%">
    <div class="col-lg-8">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("GetModuleData2", "University", FormMethod.Post))
                {
                    <div class="col-lg-3">
                        <div style="width: 100%">
                            Module data filepath:
                        </div>
                        @Html.TextBoxFor(x => x.FilePathModule, new {@class = "form-control", style = "margin-top:2%"})
                    </div>
                    <div class="col-lg-2">
                        <input class="btn" type="submit" value="Save" style="width: 100%; margin-top: 12%"/>
                    </div>
                }
            </div>
            <div class="row">
                @using (Html.BeginForm("GetStudentData2", "University", FormMethod.Post))
                {
                    <div class="col-lg-3">
                        <div style="width: 100%">
                            Student data filepath:
                        </div>
                        @Html.TextBoxFor(x => x.FilePathStudent, new {@class = "form-control"})
                    </div>
                    <div class="col-lg-2">
                        <input class="btn" type="submit" value="Save" style="width: 100%; margin-top:12%"/>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="alert-dismissable" style="margin-top: 1%; color:rgb(255, 15, 0)">
                        @Model.Message
                    </div>
                    <div style="width: 100%; margin-left: 1%; margin-top: 1%">
                        Results:
                    </div>
                    @Html.TextAreaFor(x => x.Data, new {style = "width:100%; margin-left:1%"})
                    @using (Html.BeginForm("FormProfessorList2", "University", FormMethod.Post))
                    {
                        <input class="btn" type="submit" value="Form professor list" style="width: 100%; margin-top: 1%"/>
                    }
                    @using (Html.BeginForm("RemoveUnpickedProfessors2", "University", FormMethod.Post))
                    {
                        <input class="btn" type="submit" value="Remove unpicked modules" style="width: 100%; margin-top: 1%"/>
                    }
                    @using (Html.BeginForm("FindMostCommonProfessor2", "University", FormMethod.Post))
                    {
                        <input class="btn" type="submit" value="Find professor with most modules" style="width: 100%; margin-top: 1%"/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("FindProfessorModules2", "University", FormMethod.Post))
                {
                    <div style="width: 100%">
                        Professor name & surname:
                    </div>
                    <input type="text" class="form-control" id="Professor", name="Professor" value="" />
                    <input class="btn" type="submit" value="Search" style="width: 100%; margin-top:1%"/>
                }
            </div>
            <div class="row">
                @Html.ListBoxFor(x => x.ProfessorModuleList, new MultiSelectList(Model.ProfessorModuleList), new{Size=Model.ProfessorModuleList.Count, style="width:100%; margin-top:1%"})
            </div>
        </div>
    </div>
</div>
