﻿@model UnixHate.ViewModels.University.LD4_1.LD4_1_ViewModel

@{
    ViewBag.Title = "LD4_1";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container" style="margin-top: 2%; width:100%">
    <div class="col-lg-8">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("GetItemData", "University", FormMethod.Post))
                {
                    <div class="col-lg-3">
                        <div style="width: 100%">
                            Item data filepath:
                        </div>
                        @Html.TextBoxFor(x => x.FileNameItems, new {@class = "form-control", style = "margin-top:2%"})
                    </div>
                    <div class="col-lg-2">
                        <input class="btn" type="submit" value="Save" style="width: 100%; margin-top: 12%"/>
                    </div>
                }
            </div>
            <div class="row">
                @using (Html.BeginForm("GetWorkerData", "University", FormMethod.Post))
                {
                    <div class="col-lg-3">
                        <div style="width: 100%">
                            Worker data filepath:
                        </div>
                        @Html.TextBoxFor(x => x.FileNameWorkers, new {@class = "form-control"})
                    </div>
                    <div class="col-lg-2">
                        <input class="btn" type="submit" value="Save" style="width: 100%; margin-top:12%"/>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="alert-dismissable" style="margin-top: 1%; color:rgb(255, 15, 0)">
                        @Model.Message
                    </div>
                    <div style="width: 100%; margin-left: 1%; margin-top: 1%">
                        Results:
                    </div>
                    @Html.TextAreaFor(x => x.Data, new {style = "width:100%; margin-left:1%"})
                    @using (Html.BeginForm("DeleteDataFromDb", "University", FormMethod.Post))
                    {
                        <input class="btn" type="submit" value="Delete data from database" style="width: 100%; margin-top: 1%"/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("FindBankTransactions", "University", FormMethod.Post))
                {
                    <div style="width: 100%">
                        Bank name:
                    </div>
                    <input type="text" class="form-control" id="Bank", name="Bank" value="" />
                    <input class="btn" type="submit" value="Search" style="width: 100%; margin-top:1%"/>
                }
            </div>
            <div class="row">
                @Html.ListBoxFor(x => x.Workers, new MultiSelectList(Model.Transactions), new{Size=Model.Transactions.Count, style="width:100%; margin-top:1%"})
            </div>
            <div class="row">
                    <div style="width: 100%">
                        Worker salaries:
                    </div>
                    @Html.ListBoxFor(x => x.Workers, new MultiSelectList(Model.Workers), new{Size=Model.Workers.Count, style="width:100%; margin-top:1%"})
            </div>
            <div class="row">
                @using (Html.BeginForm("FindSalaries", "University", FormMethod.Post))
                {
                    <input class="btn" type="submit" value="Form list" style="width: 100%; margin-top:1%"/>
                }
            </div>
        </div>
    </div>
</div>