﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UnixHate</title>
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("UnixHate", "Index", "Home", null, new { @class = "navbar-brand" })
            @Html.ActionLink("University projects", "IndexAfterLogin", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-right">
            @Html.ActionLink("Logout", "Login", "Account", null, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
    </footer>
</div>

<environment names="Development">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/site.js" ></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
